* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
}
.navbar-title {
  display: flex;
  margin-left: 60px;
}
.navbar-title i {
  padding-right: 5px;
  font-size: 23px;
  color: brown;
}
.navbar-items {
  display: flex;
  column-gap: 80px;
  margin-left: 30px;
}
.navbar-items a:hover {
  color: gray;
  border-bottom: 1px solid white;
  cursor: pointer;
}
.user input {
  background: transparent;
  border: none;
  border-bottom: solid white 1px;
}
.user i {
  padding-right: 30px;
  color: brown;
}
.user input {
  color: white;
}
.user input:focus {
  outline: none;
}
.user i:hover {
  color: #fff;
  cursor: pointer;
}
.home {
  height: 100%;
  display: flex;
  align-items: center;
  background: url(coffee3.jpg);
  background-size: cover;
  background-position: center;
}
.header {
  margin-top: 15%;
  margin-bottom: 20%;
  color: white;
}
.header h1 {
  font-size: 50px;
  padding-bottom: 10px;
  width: 50%;
  padding-left: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header p {
  padding-bottom: 25px;
  width: 45%;
  padding-left: 100px;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  line-height: 25px;
}
.header button {
  background-color: maroon;
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  margin-left: 100px;
  border-radius: 20px;
}
.header button:hover {
  cursor: pointer;
}
.side-header {
  display: none;
}
.menu-bar {
  display: none;
  color: white;
}
.menu-bar i:hover {
  color: brown;
}
.side-navbar {
  width: 50%;
  background-color: black;
  color: white;
  display: flex;
  height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  right: -60%;
  transition: 1s;
}
.side-navbar-links {
  margin-top: 30px;
  padding: 40px;
  font-size: 20px;
}
.side-navbar-links a {
  text-decoration: none;
  color: white;
}
.side-navbar-link {
  padding-bottom: 60px;
  width: 100%;
}
.side-navbar-link a:hover {
  color: gray;
  border-bottom: 1px solid white;
  cursor: pointer;
}
.side-navbar i {
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 20px;
  right: -60%;
  transition: 1s;
}
.side-navbar i:hover {
  color: brown;
}
.cafe-intro {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-right: 60px;
  margin-left: 28px;
}
.coffee-img img {
  width: 170px;
  height: 250px;
}
.cafe-info {
  width: 27%;
  margin-left: 50px;
  margin-right: 50px;
}
.cafe-info h6 {
  margin-left: 2px;
  font-size: 8px;
  padding-bottom: 10px;
}
.cafe-info h2 {
  color: indigo;
  padding-bottom: 15px;
}
.cafe-info p {
  font-weight: bold;
  color: dimgray;
  font-size: 15px;
  padding-bottom: 30px;
  line-height: 25px;
}
.cafe-info button {
  background-color: maroon;
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}
.coffee-flex{
  display: flex;
  column-gap: 50px;
}
/*Media query*/
@media screen and (max-width: 600px) {
  .navbar-items {
    display: none;
  }
  .user {
    display: none;
  }
  .navbar-title {
    margin-left: 10px;
  }
  .menu-bar {
    display: block;
  }

  .sub-header {
    display: none;
  }
  .side-header {
    display: block;
    padding: 10px;
    flex-wrap: wrap;
    color: white;
    margin-bottom: 20%;
  }
  .side-header h2 {
    padding-bottom: 10px;
    margin-left: 13%;
    width: 80%;
    font-size: 30px;
    line-height: 35px;
     font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .side-header p {
    padding-bottom: 20px;
    margin-left: 13%;
    width: 80%;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
  }
  .side-header button {
    background-color: maroon;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    margin-left: 13%;
    border-radius: 20px;
  }
  .side-header button:hover {
    cursor: pointer;
  }
  .home {
    width: auto;
    height: 120vh;
    background: url(coffee5.jpg);
    background-size: cover;
    background-position: center;
  }
  .cafe-intro{
    display: block;
  }
  .cafe-info{
    margin-left: 10px;
    width: 100%;
    margin-bottom: 50px;
  }
  .coffee-flex{
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    margin-left: 50px;
  }
}
